<footer>
    <div class="f1">
        <h1>Name</h1>
        <h3>@2024 Brand Technologies Pvt. Ltd</h3>
    </div>
    <div class="f2">
        <h2>Company</h2>
        <ul>
            <li>About</li>
            <li>Contact</li>
            <li>Team</li>
            <li>Mail</li>
            <li>Queries</li>
        </ul>
    </div>
    <div class="f3">
        <div>
            <h2>Contact Us</h2>
            <ul>
                <li>Help & Support</li>
                <li>Partner with Us</li>
                <li>Rate Us</li>
            </ul>
        </div>
        <div>
            <h2>Legal</h2>
            <ul>
                <li>Terms & Condition</li>
                <li>Cookie Policy</li>
                <li>Privacy Policy</li>
                <li>Relations</li>
            </ul>
        </div>
    </div>
    <div class="f4">
        <h2>We deliver to:</h2>
        <ul>
            <li>Bhopal</li>
            <li>delhi</li>
            <li>Bihar</li>
            <li>Rewa</li>
            <li>Kahi Pe</li>
        </ul>
    </div>
</footer>