body {
    font-family: 'Arial', sans-serif;
    background-color: #360202;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #13eb08;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}


/* /My Create  section/  */

.create-account {
    margin-top: 20px;
}

.create-account p {
    font-size: 14px;
    color: #333;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}