<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/log-cre.css">
</head>

<body>


    <div class="login-Container">

        <div class="form">
            <div class="singin-signup">
                <form action="/login" method="post" class="sign-in">
                    <h2 class="signin">Sign in</h2>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="username" id="username" name="username" placeholder="Username" required>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" id="password" name="password" required>
                    </div>

                    <input type="submit" class="btn" value="login" />
                    <p class="socialtxt"> Or Sign in with social platform</p>

                    <div class="socialmedia">
                        <a href="#" class="social-icn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icn">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icn">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>

                </form>
            </div>


            <div class="singup-signup">
                <form action="/signup" method="post" class="sign-up">
                    <h2 class="signin">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" placeholder="Email:" id="email" name="email" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="Username" id="username" name="username" minlength="3"
                            maxlength="15" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>

                        <input type="password" placeholder="Password:" id="password" name="password" minlength="5"
                            maxlength="20" required>
                    </div>

                    <input type="submit" class="btn" value="Submit" />
                    <p class="socialtxt"> Or Sign up with social platform</p>

                    <div class="socialmedia">
                        <a href="#" class="social-icn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icn">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="social-icn">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">

            <div class="panels left-panel">
                <div class="content" id="new">
                    <h3>New Here?</h3>
                    <p>
                        Lorem ipsum dolor sit amet acnsnknknsAKasksaknknlkasncncsnasnscan
                    </p>
                    <button class="btn transparent" id="sign-up-button">Sign Up</button>
                </div>
                <img src="/icon/login4.png" alt="" class="image" width="50%">
            </div>


            <div class="panels right-panel">
                <div class="content">
                    <h3>One of us</h3>
                    <p>
                        Lorem ipsum dolor sit amet acnsnknknsAKasksaknknlkasncncsnasnscan
                    </p>
                    <button class="btn transparent" id="sign-in-button">Sign In</button>
                </div>
                <img src="/icon/register.png" alt="" class="image" width="50%">
            </div>

        </div>
    </div>
    <script src="/js/log-cre.js"></script>
</body>

</html>